body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70vmin;
  background-color: pink;
}

.grid {
  display: flex;
  /* border: 1px solid black; */
  outline: 1px solid black;
  aspect-ratio: 1;
}
